<!DOCTYPE html>
<html>
  <head>
    <title>Map Maker</title>
    <link rel="stylesheet" href="/static/editor/style.css">
    <script src="/static/editor/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <a class="headline">Tileset</a>
        <select onchange="syncImage()" id="drop">
            {% for tileset in tilesets %}
            <option value="{{tileset}}">{{tileset[:-4].capitalize()}}</option>
            {% endfor %}
          </select>
        <br>
<div style="height:600px;overflow:scroll;">
        <img src="/static/data/tilesets/images/{{tilesets[0]}}" id="tileset" onclick="getXY(16)" ondblclick="getXY(parseInt(prompt('How many tiles do you wish to select?'))*16)">
</div>

<br>
Live coordinate : <a id="coordinate"></a>
<script>
    const image = document.getElementById("tileset");
    const coordinates = document.getElementById("coordinate");

    image.addEventListener("mousemove", function(event) {
        const x = event.offsetX;
        const y = event.offsetY;

        coordinates.innerHTML = `X: ${x}, Y: ${y}`;
    });
</script>

</div>
      <div class="right">
        <a class="headline">Map</a>
        <hr>
        <b>Selected element </b> : <img id="cropped-image"><br>
        <div>
        <input type="checkbox" id="grid" onchange="updateGrid()" checked>
<label for="grid">Grid</label>
<input type="checkbox" id="draw" checked>
<label for="draw">Draw mode (Shortcut : P)</label>
<button onclick="fill()">Fill</button> Mode : <select id="tile_mode"><option value="middle">Middle tile</option><option value="upper">Upper tile</option></select>
<button onclick="Clear()">Clear</button>
<button id="importButton">Import</button>
<button onclick="exportMap()">Export</button>
</div>

        <br>
        <hr>
        <div id="container-canva" style="position:absolute"></div>
    
    <script>
      let alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
      const container = document.getElementById("container-canva");
      for(let i = 0; i < 50; i++) {
        for(let j = 0; j < 40; j++) {
          const tile = document.createElement("div");
          tile.setAttribute("id", `${alphabet[i]}${j}`);
          tile.setAttribute("title", `${alphabet[i]}${j}`);
          tile.setAttribute("onmouseout", `setDrawMode('${alphabet[i]}${j}')`);
          tile.setAttribute("onclick", `setSelected('${alphabet[i]}${j}')`);
          tile.classList.add("tile");
          container.appendChild(tile);
          const image = document.createElement('img');
          tile.appendChild(image)
        }
      }


function setSelected(id) {
  const selectedTile = document.getElementById(id);
  const croppedImage = document.getElementById("cropped-image");
  if (document.getElementById("tile_mode").value == "middle"){
    if (croppedImage.complete) {
      selectedTile.style.backgroundImage = `url(${croppedImage.src})`;
      selectedTile.classList.add("M"+document.getElementById("drop").value+"["+croppedImage.classList[0]+"]");
  } else {
      croppedImage.onload = function() {
        selectedTile.style.backgroundImage = `url(${croppedImage.src})`;
        selectedTile.classList.add("M"+document.getElementById("drop").value+"["+croppedImage.classList[0]+"]");
      }
  } 
  } else {
    const image = selectedTile.getElementsByTagName('img')[0];
    if (croppedImage.complete) {
      image.src = croppedImage.src;
      selectedTile.classList.add("U"+document.getElementById("drop").value+"["+croppedImage.classList[0]+"]");
    } else {
      croppedImage.onload = function() {
      image.src = croppedImage.src;
      selectedTile.classList.add("U"+document.getElementById("drop").value+"["+croppedImage.classList[0]+"]");
      }
  }

}
}

document.getElementById('importButton').addEventListener('click', function() {
  importMap()
});


function setDrawMode(id){
    let draw = document.getElementById("draw").checked;
    if (draw){
        setSelected(id)
    }
}
document.addEventListener('keydown', evt => {
    if (evt.key === 'P' || evt.key == 'p') {
        toggleDrawMode();
    }
});

function toggleDrawMode(event) {
    const drawCheckbox = document.getElementById('draw');
    drawCheckbox.checked = !drawCheckbox.checked;
}

function fill() {
    const is_grid = document.getElementById('grid').checked;
    const tiles = document.querySelectorAll('.tile');
    const croppedImage = document.getElementById("cropped-image");
    if (is_grid) {
      tiles.forEach(tile => {
        tile.style.backgroundImage = `url(${croppedImage.src})`;
        tile.getElementsByTagName('img').src = ''
        tile.classList.add("M"+document.getElementById("drop").value+"["+croppedImage.classList[0]+"]");
      });
    } else {
      tiles.forEach(tile => {
        tile.style.backgroundImage = `url(${croppedImage.src})`;
        tile.getElementsByTagName('img').src = ''
        tile.classList.add("M"+document.getElementById("drop").value+"["+croppedImage.classList[0]+"]");
      });
    }
  }


  function exportMap() {
  const tiles = document.querySelectorAll('.tile');
  let map = '';
  tiles.forEach(tile => {
    map = map + ' ' + tile.classList;
  });

  const blob = new Blob([map], { type: 'text/plain' });
  const url = URL.createObjectURL(blob);
  const a = document.createElement('a');
  a.href = url;
  a.download = 'untitled.map';
  a.click();
}

function importMap() {
  Clear();
  let fileInput = document.createElement('input');
  fileInput.type = 'file';
  fileInput.onchange = function(event) {
    let file = event.target.files[0];
    let reader = new FileReader();
    reader.onload = function(event) {
      let fileContent = event.target.result;
      fileContent = fileContent.toString();
      fileContent = fileContent.split("tile");
      for(let i = 0; i<fileContent.length; i++){
        fileContent[i]=fileContent[i].replace("]","|").replaceAll(" ","")
        fileContent[i]=fileContent[i].split("|")
        fileContent[i][0]=fileContent[i][0]+']'
        if (fileContent[i][1]==''){
          fileContent[i].pop()
        } else if(fileContent[i][1]!==undefined) {
          fileContent[i][1]=fileContent[i][1].split(".png")
          fileContent[i][1][0]=fileContent[i][1][0].slice(1)
        }
        fileContent[i][0]=fileContent[i][0].split(".png")
        fileContent[i][0][0]=fileContent[i][0][0].slice(1)
      }
      let count = 0;
      const tiles = document.querySelectorAll('.tile');
      tiles.forEach(tile => {
        count++
        //console.log(fileContent.length)
        //console.log(fileContent[count][0][0])
        // upper tile
        if (fileContent[count].length==2){
        //console.log(fileContent[count][1])
        fetch(`/selection_box/${fileContent[count][1][0]}/${fileContent[count][1][1]}`)
        .then(response => response.json())
        .then(data => {
            //console.log(data);
            tile.getElementsByTagName('img')[0].src=`data:image/jpeg;base64,${data.image_data}`;
        })
        .catch(error => console.error(error));
      }
        // middle tile
        fetch(`/selection_box/${fileContent[count][0][0]}/${fileContent[count][0][1]}`)
        .then(response => response.json())
        .then(data => {
            //console.log(data.image_data);
            tile.style.backgroundImage=`url(data:image/jpeg;base64,${data.image_data})`
        })
        //.catch(error => console.error(error));
        console.log(tile.id)
      });
    };
    reader.readAsText(file);
  };
  fileInput.click();
}

function Clear(){
  const tiles = document.querySelectorAll('.tile');
  tiles.forEach(tile => {
    tile.style.backgroundImage = '';
    tile.getElementsByTagName('img')[0].src='';
  });
}

    </script>

      </div>
    </div>
  </body>
</html>
